.trending-product {
  @apply basis-11/12;

  .trending-item {
    min-width: 20rem;
    @apply flex flex-col basis-1/3 flex-1 justify-center p-2;
  }

  .trending-title {
    @apply text-3xl flex items-center text-white py-2 px-4 uppercase font-semibold;
    font-family: 'Oswald', sans-serif;
  }

  .genre {
    background: rgba(255, 255, 255, 0.2);
    @apply text-sm py-0.5 px-3 rounded-xl font-bold mx-0.5;
  }
}

.top-view {
  .top-item {
    min-width: 20rem;
    @apply flex flex-col basis-1 flex-1 justify-center p-2;
  }

  .top-title {
    @apply text-3xl flex items-center text-white py-2 px-4 uppercase font-semibold;
    font-family: 'Oswald', sans-serif;
  }
}

.watch-caption {
  @apply bottom-14 left-14 pt-5 pb-5 hidden md:block absolute text-center;

  &__text-genre {
    font-size: 13px;
    color: #e53637;
    background: #ffffff;
    padding: 5px 14px 3px;
    display: inline-block;
  }

  &__text-title {
    color: #ffffff;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 52px;
    margin-top: 35px;
    margin-bottom: 8px;
  }

  &__text-desc {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 40px;
  }

  &__button {
    font-size: 13px;
    color: #ffffff;
    background: #e53637;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;

    &-icon {
      font-size: 20px;
      display: inline-block;
      background: #e53637;
      padding: 11px 5px 16px 8px;
      color: #ffffff;
      border-radius: 0 4px 4px 0;
    }
  }
}

.carousel-button {
  height: 66px !important;
  width: 66px !important;
  background: #0b0c2a !important;
  line-height: 66px;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
  position: absolute !important;
  left: -33px;
  top: 50%;
  margin-top: -47px;
  opacity: 1 !important;

  &.next {
    @apply left-auto -right-9;
  }

  span {
    transform: rotate(135deg);
    z-index: 1;
    @apply block;
  }

  &:after {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    height: 54px;
    width: 54px;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    z-index: -1;
    margin: 0 auto;
  }
}
